<!DOCTYPE html>
<html>
<head>
<style>

h1 {
	color: black;
}

li {
	color: black;
}

body {
	text-align: center;
	background-color: #E2FADE;
	font-size: 14pt;
	font-family: Calibri;
	color: black;
}

textarea {
	background-color: #8ADADE;
	font-size: 12pt;
	color: #8ADADE;
}

ul {
	color: black;
	text-align: center;
	list-style-type: none;
}


textarea {
	color: #8ADADE;
	font-size: 12pt;
}

#box {
	margin-top: 15px;
	color: black;
}

</style>
</head>
</html>
</!DOCTYPE html>