h1 {
	font-family: Calibri;
}

body {
	text-align: center;
	background-color: #E2FADE;
	font-size: 14pt;
	font-family: Calibri;
	color: black;
}

ul {
	text-align: center;
	font-family: Calibri;
	list-style-type: none;
}

textarea {
	background-color: black;
	font-size: 12pt;
}

#box {
	margin-top: 15px;
}
