#banner {
	font-family: Lucida Console;
	font-size: 25pt;
	background-color: yellow;
	padding: 10px;
	margin-top: 0px;
	background: linear-gradient(yellow, #E2FADE);
	padding-bottom: 50px
}

h1 {
	margin-top: 10px;
}

body {
	text-align: center;
	background-color: #E2FADE;
	font-size: 14pt;
	font-family: Calibri;
	color: black;
	margin: 0px;
	padding-bottom: 50px;
}

ul {
	text-align: justify;
	font-family: Calibri;
	list-style-type: none;
	padding-left: 675px;
}

textarea {
	background-color: white;
	font-size: 12pt;
}

#box {
	margin-top: 15px;
}
