h1 {
	font-family: Lucida Console;
	font-size: 40pt;
	background-color: yellow;
	padding: 10px;
	
}

#logo1 {
	padding-left: 50px;
}

#logo2 {

}

body {
	text-align: center;
	background-color: #E2FADE;
	font-size: 14pt;
	font-family: Calibri;
	color: black;
}

ul {
	text-align: center;
	font-family: Calibri;
	list-style-type: none;
}

textarea {
	background-color: white;
	font-size: 12pt;
}

#box {
	margin-top: 15px;
}
